/*
This file is used to contain all vendor imports.
*/
/* Additonal Vendor Tools */
/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
.mobile-wip {
  display: none !important; }
  @media (min-width: 1400px) {
    .mobile-wip {
      display: block; } }

.hide-on-mobile {
  display: none; }
  @media (min-width: 1300px) {
    .hide-on-mobile {
      display: block; } }

/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  max-width: 160rem;
  margin: 0 auto;
  background: #e7e7e7; }

html {
  scroll-behavior: smooth; }

a {
  color: #2361a1; }

body {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7; }

form input,
form textarea {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  font-family: Poppins sans-serif; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 3.5rem;
  font-weight: 700; }
  @media (min-width: 1400px) {
    h1 {
      font-size: 5rem; } }

h2 {
  font-size: 1.8rem;
  font-weight: 400; }

.headline-bold {
  font-weight: 700; }

.contact-me i {
  font-size: 1.8rem; }

.footer i {
  font-size: 1.8rem; }

.footer .logo .name {
  font-size: 1.8rem; }

.footer .copyright {
  font-size: 1.2rem; }

.modal {
  font-size: 2.5rem; }

/* Additonal Base Stylesheets */
/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating to a reusable component.
*/
.btn {
  padding: 1.3rem 1.8rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: #ab8d6b;
  border: none;
  color: #fff;
  cursor: pointer; }
  @media (min-width: 1300px) {
    .btn {
      padding: 1.3rem 1.8rem;
      font-size: 1.8rem; } }
  .btn:hover {
    background-color: #f4f4f4;
    color: #ab8d6b;
    transition: all 0.3s ease; }
  .btn--alt:hover {
    background-color: #1b2c3d;
    color: #fff; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  .modal__content {
    background-image: linear-gradient(#1b2c3d, #546575);
    margin: 5%;
    height: 95%;
    padding: 2rem;
    color: white;
    text-align: center;
    position: relative; }
    .modal__content .nav-items {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .modal__content a {
      margin-top: 4rem;
      display: block;
      color: #fff;
      text-decoration: none; }
  .modal__close {
    color: white;
    position: absolute;
    right: 4rem;
    top: 2rem;
    z-index: 2;
    font-size: 4rem; }

.menu-hover a,
.menu-hover li {
  transition: all 0.3s; }
  .menu-hover a:hover,
  .menu-hover li:hover {
    transform: scale(1.05); }

.mobile-cross {
  width: 4rem; }
  .mobile-cross:before, .mobile-cross:after,
  .mobile-cross div {
    background: #fff;
    content: "";
    display: block;
    height: 0.5rem;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s; }
  .mobile-cross:hover:before {
    transform: translateY(12px) rotate(135deg); }
  .mobile-cross:hover:after {
    transform: translateY(-12px) rotate(-135deg); }
  .mobile-cross:hover div {
    transform: scale(0); }
  @media (min-width: 1300px) {
    .mobile-cross {
      display: none; } }

.hero {
  padding: 5rem 5rem 0 5rem; }
  @media (min-width: 1300px) {
    .hero {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-grow: 1;
      padding: 0 5rem; }
      .hero__image-wrapper {
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        align-items: stretch;
        justify-content: flex-end; }
        .hero__image-wrapper .hero-image {
          background-image: url(./../static/assets/marek_nowicki_1.png);
          flex-grow: 1;
          min-width: 50vw;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: bottom right; } }
      @media (min-width: 1300px) and (min-width: 1800px) {
        .hero__image-wrapper .hero-image {
          min-width: 30vw; } }

.cta {
  align-self: center;
  display: flex;
  flex-direction: column; }
  .cta .hero-image-mobile {
    margin-top: 2rem;
    max-width: 30rem;
    margin: 0 auto; }
    @media (min-width: 900px) {
      .cta .hero-image-mobile {
        margin-top: 5rem; } }
  @media (min-width: 1300px) {
    .cta {
      max-width: 50rem;
      display: block; }
      .cta .hero-image-mobile {
        display: none; } }
  .cta__subtitle {
    margin-top: 1rem; }
    @media (min-width: 1300px) {
      .cta__subtitle {
        margin-top: 0; } }
  .cta__list {
    margin-top: 3rem;
    font-size: 1.8rem;
    list-style: none; }
    .cta__list li {
      display: flex;
      align-items: center;
      opacity: 0; }
      .cta__list li img {
        margin-right: 1rem;
        height: 3rem; }
      .cta__list li.move-in {
        animation-fill-mode: forwards; }
        .cta__list li.move-in-1 {
          animation: moveInRight 1s cubic-bezier(0.86, 0, 0.07, 1);
          animation-fill-mode: forwards; }
        .cta__list li.move-in-2 {
          animation: moveInRight 1s cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
          animation-fill-mode: forwards; }
        .cta__list li.move-in-3 {
          animation: moveInRight 1s cubic-bezier(0.86, 0, 0.07, 1) 1s;
          animation-fill-mode: forwards; }
  .cta__btn {
    margin-top: 5rem; }

@keyframes moveInRight {
  0% {
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.three-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 5rem 0;
  color: #fff; }
  @media (min-width: 1300px) {
    .three-col {
      flex-direction: row;
      padding: 8rem 5rem; } }
  .three-col__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    padding: 3rem;
    margin: 2rem;
    background: #1b2c3d;
    flex: 1;
    max-width: 51rem; }
    @media (min-width: 767px) {
      .three-col__item {
        width: 100%; } }
    .three-col__item .icon i {
      font-size: 5rem;
      color: #ab8d6b;
      margin-bottom: 2rem; }
      @media (min-width: 1300px) {
        .three-col__item .icon i {
          margin-bottom: 3rem; } }
    .three-col__item .subtitle {
      margin-top: 0.5rem;
      font-weight: 700; }
    .three-col__item .description {
      text-align: center;
      margin-top: 1rem;
      font-size: 1.3rem; }
    .three-col__item .examples {
      margin-top: 1rem;
      text-align: center;
      list-style: none;
      font-size: 1.3rem; }
      .three-col__item .examples li {
        /*  &::before,
        &::after {
          content: "-";
          margin: 0 2rem;
        } */
        margin-top: 1rem; }
        .three-col__item .examples li span {
          border-bottom: 2px solid #ab8d6b;
          padding-bottom: 0.3rem; }

.about-me {
  background-color: #fff;
  padding: 6rem 3rem; }
  .about-me__headline {
    text-align: center;
    font-size: 3rem;
    font-weight: 700; }
  @media (min-width: 1400px) {
    .about-me {
      padding: 7rem 10rem 7rem 13rem; }
      .about-me__headline {
        text-align: center;
        font-size: 4rem;
        font-weight: 700; } }
  .about-me__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem; }
    @media (min-width: 1400px) {
      .about-me__content {
        flex-direction: row;
        margin-top: 8rem; } }
    .about-me__content .copy {
      margin-top: 4rem;
      text-align: justify; }
      .about-me__content .copy-tick {
        height: 3rem;
        margin-top: 1rem; }
      @media (min-width: 1400px) {
        .about-me__content .copy {
          margin-left: 20rem; } }
      .about-me__content .copy p {
        position: relative; }
        .about-me__content .copy p:not(:last-child) {
          margin-bottom: 2rem; }
        .about-me__content .copy p::before {
          display: none;
          position: absolute;
          left: -4rem;
          top: -0.2rem;
          content: " ";
          background-image: url("./../static/assets/svg/check.svg");
          background-size: 3rem 3rem;
          height: 3rem;
          width: 3rem;
          margin: 0 auto; }
    .about-me__content .media {
      position: relative; }
      .about-me__content .media .photo {
        background-image: url("./../static/assets/marek_nowicki_2.jpg");
        width: 35rem;
        height: 35rem;
        background-size: cover;
        position: relative;
        z-index: 1; }
      @media (min-width: 1400px) {
        .about-me__content .media .rectangle {
          background-color: #1b2c3d;
          width: 40rem;
          height: 40rem;
          position: absolute;
          z-index: 0;
          left: -3rem;
          top: -3rem; }
        .about-me__content .media .photo {
          width: 40rem;
          height: 40rem; } }

.contact-me {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 3rem;
  text-align: center; }
  @media (min-width: 1400px) {
    .contact-me {
      padding: 10rem 0;
      flex-direction: row;
      text-align: left; } }
  .contact-me .contact-btn {
    margin-top: 3rem; }
  @media (min-width: 1400px) {
    .contact-me__column {
      width: 35%;
      margin: 0 4rem; } }
  .contact-me__headline {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 4rem; }
    .contact-me__headline::after {
      content: "";
      border-bottom: 4px solid #ab8d6b;
      width: 50%;
      top: 4rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
      @media (min-width: 1400px) {
        .contact-me__headline::after {
          left: 0;
          width: 4rem;
          transform: none; } }
  .contact-me__description {
    max-width: 54rem; }
  .contact-me__details .details-item {
    margin-top: 2rem;
    text-align: left; }
    .contact-me__details .details-item i {
      margin-right: 1rem;
      color: #1b2c3d; }
  .contact-me__form {
    margin-top: 6rem; }
    @media (min-width: 1400px) {
      .contact-me__form {
        margin-top: 0; } }
    .contact-me__form .contact-form__btn {
      margin-top: 2rem; }
    .contact-me__form .contact-form__row {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 3rem; }
      .contact-me__form .contact-form__row i {
        position: absolute;
        left: 1.5rem;
        top: 1.2rem;
        color: #bebebe; }
      .contact-me__form .contact-form__row input {
        height: 4rem;
        border: 2px solid #d5d5d5; }
      .contact-me__form .contact-form__row textarea {
        height: 15rem;
        resize: none; }
      .contact-me__form .contact-form__row input,
      .contact-me__form .contact-form__row textarea {
        border: 2px solid #d5d5d5;
        padding: 0.6rem 4rem;
        transition: all 0.2s ease-in; }
        .contact-me__form .contact-form__row input::placeholder,
        .contact-me__form .contact-form__row textarea::placeholder {
          color: #3f3f3f;
          margin-left: 1rem; }
        .contact-me__form .contact-form__row input:focus,
        .contact-me__form .contact-form__row input :focus-visible,
        .contact-me__form .contact-form__row textarea:focus,
        .contact-me__form .contact-form__row textarea :focus-visible {
          border: 2px solid #3f3f3f;
          outline: none; }

.blog {
  text-align: center;
  background-color: #f4f4f4; }
  .blog__intro {
    padding: 6rem 3rem; }
    @media (min-width: 1400px) {
      .blog__intro {
        padding: 10rem; } }
    .blog__intro .intro-text {
      margin: 0 auto; }
      @media (min-width: 1400px) {
        .blog__intro .intro-text {
          width: 60%; } }
    .blog__intro .blog-link {
      color: #1b2c3d; }
  .blog__promo {
    background-image: url(./../static/assets/blog.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 6rem 3rem; }
    @media (min-width: 1400px) {
      .blog__promo {
        padding: 20rem; } }
    .blog__promo .blog-logo {
      height: 7rem; }
    .blog__promo .blog-link {
      color: #fff; }
    .blog__promo .blog-headline {
      font-size: 3.2rem;
      font-weight: 700;
      margin-top: 2rem;
      margin-bottom: 1rem; }
    .blog__promo .blog-desc {
      margin: 0 auto;
      max-width: 50rem; }
    .blog__promo .gld-line {
      margin-top: 2rem; }
    .blog__promo .blog-btn {
      margin-top: 3rem; }

.gld-line {
  width: 70%;
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #ab8d6b; }

.black-line {
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #898989; }

/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout. 
*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem 0 3rem; }
  .menu__logo {
    height: 5rem; }
  .menu .nav__items {
    display: none; }
  @media (min-width: 1300px) {
    .menu {
      justify-content: space-between;
      align-items: center;
      padding: 5rem; }
      .menu__logo {
        height: 6rem; }
      .menu .between {
        flex-grow: 1; }
      .menu .nav__items {
        display: flex;
        list-style: none; }
        .menu .nav__items li {
          font-size: 2rem; }
          .menu .nav__items li:not(:last-child) {
            margin-right: 4rem; }
          .menu .nav__items li a {
            text-decoration: none;
            color: inherit; }
          .menu .nav__items li:hover {
            color: #ab8d6b; } }

.footer {
  padding: 6rem 3rem;
  background-color: #fff;
  text-align: center; }
  @media (min-width: 1400px) {
    .footer {
      padding: 10rem 20rem;
      text-align: left; } }
  .footer .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 1400px) {
      .footer .top {
        flex-direction: row; } }
  .footer__left {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-top: 6rem; }
    @media (min-width: 1400px) {
      .footer__left {
        order: 0;
        margin-top: 0; } }
    .footer__left .logo {
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer__left .logo img {
        height: 4.5rem;
        margin-right: 1rem; }
    .footer__left .social-links {
      display: flex;
      justify-content: center;
      margin-top: 6rem; }
      @media (min-width: 1400px) {
        .footer__left .social-links {
          margin-top: 0;
          margin-left: 0.5rem;
          justify-content: flex-start; } }
      .footer__left .social-links i {
        color: black;
        font-size: 3rem;
        margin: 1.5rem; }
        @media (min-width: 1400px) {
          .footer__left .social-links i {
            font-size: 2.5rem;
            margin: 2rem 2rem 0 0; } }
  .footer__middle .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; }
    .footer__middle .menu li {
      margin-bottom: 1rem; }
      .footer__middle .menu li a {
        color: black;
        text-decoration: none; }
  .footer__right {
    margin-top: 6rem; }
    @media (min-width: 1400px) {
      .footer__right {
        margin-top: 0; } }
    .footer__right .contact {
      list-style: none;
      display: flex;
      flex-direction: column; }
      @media (min-width: 1400px) {
        .footer__right .contact li {
          margin-bottom: 3rem;
          margin-right: 2rem; } }
      .footer__right .contact li a {
        text-decoration: none;
        color: #ab8d6b; }
  .footer .black-line {
    margin-top: 2rem; }
    @media (min-width: 1400px) {
      .footer .black-line {
        margin-top: 8rem; } }
  .footer .copyright {
    margin-top: 1rem;
    text-align: center;
    color: #898989; }
    @media (min-width: 1400px) {
      .footer .copyright {
        text-align: right; } }

.header {
  text-align: center;
  color: #fff;
  background-image: linear-gradient(#1b2c3d, #546575); }
  @media (min-width: 1300px) {
    .header {
      background-image: linear-gradient(0deg, rgba(27, 44, 61, 0.75), rgba(27, 44, 61, 0.75)), linear-gradient(89.99deg, rgba(27, 44, 61, 0.1305) 0.01%, rgba(27, 44, 61, 0.6003) 43.75%, rgba(27, 44, 61, 0.87) 99.99%), url("./../static/assets/bielsko_bg.jpg");
      background-size: cover;
      background-position: center;
      text-align: left;
      min-height: 70rem;
      display: flex;
      flex-direction: column;
      align-content: center;
      padding: 0 10rem; } }
  @media (min-width: 1300px) and (max-width: 1920px) {
    .header {
      height: 100vh; } }
