//Variables
$outer-padding: 5rem;

//Colors
$light-grey: #f4f4f4;
$grey: #d5d5d5;
$dark-grey: #bebebe;
$darker-grey: #898989;
$darkest-grey: #3f3f3f;

$gold: #ab8d6b;
$white: #fff;
$dark-blue: #1b2c3d;

$link-blue: #2361a1;
