//Variables
$outer-padding: 5rem;
$mobile-text-padding: 6rem 3rem;

$footer-spacing: 6rem;

.mobile-wip {
  display: none !important;

  @include respond-to("large") {
    display: block;
  }
}

//Colors
$light-grey: #f4f4f4;
$grey: #d5d5d5;
$dark-grey: #bebebe;
$darker-grey: #898989;
$darkest-grey: #3f3f3f;

$gold: #ab8d6b;
$white: #fff;
$light-blue: #546575;
$dark-blue: #1b2c3d;

$link-blue: #2361a1;
