body {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
}

form {
  input,
  textarea {
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    font-family: Poppins sans-serif;
  }
}
html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;

  @include respond-to("large") {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.headline-bold {
  font-weight: 700;
}

.contact-me {
  i {
    font-size: 1.8rem;
  }
}

.footer {
  i {
    font-size: 1.8rem;
  }

  .logo {
    .name {
      font-size: 1.8rem;
    }
  }

  .copyright {
    font-size: 1.2rem;
  }
}

.modal {
  font-size: 2.5rem;
}
