.three-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-grey;
  padding: 5rem 0;
  color: $white;

  @include respond-to("medium") {
    flex-direction: row;
    padding: 8rem $outer-padding;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    padding: 3rem;
    margin: 2rem;
    background: #1b2c3d;
    flex: 1;
    max-width: 51rem;

    @include respond-to("small") {
      width: 100%;
    }

    .icon {
      i {
        font-size: 5rem;
        color: $gold;
        margin-bottom: 2rem;

        @include respond-to("medium") {
          margin-bottom: 3rem;
        }
      }
    }

    .subtitle {
      margin-top: 0.5rem;
      font-weight: 700;
    }

    .description {
      text-align: center;
      margin-top: 1rem;
      font-size: 1.3rem;
    }

    .examples {
      margin-top: 1rem;
      text-align: center;
      list-style: none;
      font-size: 1.3rem;

      li {
        /*  &::before,
        &::after {
          content: "-";
          margin: 0 2rem;
        } */
        margin-top: 1rem;

        span {
          border-bottom: 2px solid $gold;
          padding-bottom: 0.3rem;
        }
      }
    }
  }
}
