.blog {
  text-align: center;
  background-color: $light-grey;
  &__intro {
    padding: $mobile-text-padding;

    @include respond-to("large") {
      padding: 10rem;
    }

    .intro-text {
      margin: 0 auto;

      @include respond-to("large") {
        width: 60%;
      }
    }

    .blog-link {
      color: $dark-blue;
    }
  }

  &__promo {
    background-image: url(./../static/assets/blog.jpg);
    background-size: cover;
    background-position: center;
    color: $white;
    padding: $mobile-text-padding;

    @include respond-to("large") {
      padding: 20rem;
    }

    .blog-logo {
      height: 7rem;
    }

    .blog-link {
      color: $white;
    }

    .blog-headline {
      font-size: 3.2rem;
      font-weight: 700;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .blog-desc {
      margin: 0 auto;
      max-width: 50rem;
    }

    .gld-line {
      margin-top: 2rem;
    }

    .blog-btn {
      margin-top: 3rem;
    }
  }
}
