.contact-me {
  background: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $mobile-text-padding;
  text-align: center;

  @include respond-to("large") {
    padding: 10rem 0;
    flex-direction: row;
    text-align: left;
  }

  .contact-btn {
    margin-top: 3rem;
  }

  @include respond-to("large") {
    &__column {
      width: 35%;
      margin: 0 4rem;
    }
  }

  &__headline {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 4rem;

    &::after {
      content: "";
      border-bottom: 4px solid $gold;
      width: 50%;
      top: 4rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @include respond-to("large") {
        left: 0;
        width: 4rem;
        transform: none;
      }
    }
  }

  &__description {
    max-width: 54rem;
  }

  &__details {
    .details-item {
      margin-top: 2rem;
      text-align: left;

      i {
        margin-right: 1rem;
        color: $dark-blue;
      }
    }
  }

  &__form {
    margin-top: 6rem;

    @include respond-to("large") {
      margin-top: 0;
    }

    .contact-form {
      &__btn {
        margin-top: 2rem;
      }

      &__row {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        i {
          position: absolute;
          left: 1.5rem;
          top: 1.2rem;
          color: $dark-grey;
        }
        input {
          height: 4rem;
          border: 2px solid $grey;
        }

        textarea {
          height: 15rem;
          resize: none;
        }

        input,
        textarea {
          border: 2px solid $grey;
          padding: 0.6rem 4rem;
          transition: all 0.2s ease-in;

          &::placeholder {
            color: $darkest-grey;
            margin-left: 1rem;
          }

          &:focus,
          :focus-visible {
            border: 2px solid $darkest-grey;
            outline: none;
          }
        }
      }
    }
  }
}
