.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  &__content {
    background-image: linear-gradient($dark-blue, $light-blue);
    margin: 5%;
    height: 95%;
    padding: 2rem;
    color: white;
    text-align: center;
    position: relative;

    .nav-items {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    a {
      margin-top: 4rem;
      display: block;
      color: $white;
      text-decoration: none;
    }
  }

  &__close {
    color: white;
    position: absolute;
    right: 4rem;
    top: 2rem;
    z-index: 2;
    font-size: 4rem;
  }
}
