.btn {
  padding: 1.3rem 1.8rem;
  border-radius: 0.5rem;
  background-color: $gold;
  border: none;
  color: $white;
  font-size: 1.8rem;
  cursor: pointer;

  &:hover {
    background-color: $light-grey;
    color: $gold;
    transition: all 0.3s ease;
  }

  &--alt {
    &:hover {
      background-color: $dark-blue;
      color: $white;
    }
  }
}
