.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem 0 3rem;

  &__logo {
    height: 5rem;
  }

  .nav {
    &__items {
      display: none;
    }
  }

  @include respond-to("medium") {
    justify-content: space-between;
    align-items: center;
    padding: $outer-padding;

    &__logo {
      height: 6rem;
    }

    .between {
      flex-grow: 1;
    }

    .nav {
      &__items {
        display: flex;
        list-style: none;

        li {
          font-size: 2rem;

          &:not(:last-child) {
            margin-right: 4rem;
          }

          a {
            text-decoration: none;
            color: inherit;
          }

          &:hover {
            color: $gold;
          }
        }
      }
    }
  }
}
